@whiteish: #f3f1f2;
@lightdark: #c8cccf;
@darkish: #666;
@dark: #4c585d;

/* Project-specific styles go here */
#root {
  font-family: "Source Sans Pro Light", "Trebuchet MS", "Lucida Grande",
    "Bitstream Vera Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  color: #293c4b;
  font-size: 18px;
  background-color: white;

  h1 {
    font-size: 30px;
  }

  img {
    margin: 20px 0;
    max-width: 200px;
  }
}

@media (max-width: 800px) {
  #root {
  }
}

#intro {
  margin-bottom: 32px;

  p {
    margin-left: 10px;
    max-width: 600px;
  }
}
#outro {
  margin-top: 32px;
  p {
    margin-left: 10px;
    max-width: 600px;
  }
  svg.xmas-grid {
    max-width: 400px;
  }
}
/* scrollama */
#scroll {
  position: relative;
  .chart-title {
    text-align: center;
    width: 100%;
    font-family: "Stag Book";
    font-size: 22px;
    @media (max-width: 800px) {
      font-size: 16px;
    }
  }
  .chart-subtitle {
    text-align: center;
    width: 100%;
    font-size: 15px;
    @media (max-width: 800px) {
      font-size: 13px;
    }
  }
  .quartet {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    .linechart {
      .linechart-chart.fatal {
        .series {
          path {
            stroke: rgb(139, 0, 0);
          }
        }
      }
      .linechart-chart.serious{
        .series {
          path {
          stroke: rgb(222, 63, 83);
          }
        }
      }
      .linechart-chart.minor {
        .series {
          path {
            stroke: rgb(255, 165, 0); 
          }
        }
      }
      .linechart-chart {
        .series {
          path {
          stroke: rgb(211, 211, 211);
          }
        }
      }

    }

    .barchart {
      .barchart-chart {
        .column rect {
          fill: rgba(211, 211, 211, 0.8);
        }
        .column text {
          display: none;
          font-family: "Stag Book";
        }
        .column:hover rect {
          fill: rgb(211, 211, 211);
        }
        .column:hover text {
          display: inline;
        }
      }
      .barchart-chart.fatal {
        .column rect {
          fill: rgba(139, 0, 0, 0.7);
        }
        .column:hover rect {
          fill: rgb(139, 0, 0);
        }
      }
      .barchart-chart.serious {
        .column rect {
          fill: rgba(222, 63, 83, 0.8);
        }
        .column:hover rect {
          fill: rgb(222, 63, 83);
        }
      }
      .barchart-chart.minor {
        .column rect {
          fill: rgba(255, 165, 0, 0.8);
        }
        .column:hover rect {
          fill: rgb(255, 165, 0);
        }
      }
    }

    .linechart,
    .barchart {
      flex: 1 0 200px;
      max-width: 350px;
      @media (min-width: 1050px) {
        flex: 1 0 250px;
      }
      padding: 5px 10px;
      .label {
        font-family: "Stag Book";
        font-size: 18px;
        text-align: center;
        background: #8c8c8c;
        margin: 0 5px;
        color: white;
        @media (max-width: 800px) {
          font-size: 13px;
        }
      }

      svg {
        padding: 10px;
        overflow: visible;
        .column,
        .tick {
          text {
            font-size: 28px;
          }
        }
        text.axis {
          fill: #555;
          font-size: 35px;
          text-anchor: end;
        }
      }
    }
  }
}
.scroll__graphic {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  right: 0;
  @media (min-width: 600px) {
    float: right;
  }
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.chart {
  position: absolute;
  right: 1rem;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  .step-chart {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity 1s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
  }
}
.chart p {
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 8rem;
  font-weight: 900;
  color: #666;
}
.scroll__text {
  position: relative;
  padding: 0 1rem;
  @media (min-width: 600px) {
    max-width: 30rem;
    width: 33%;
  }
}
.step {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgba(200, 200, 200, 0.77);
  // border: 1px solid rgba(200, 200, 200, 0.77);
  transition: color, border 500ms ease-in-out;
  @media (max-width: 600px) {
    margin-bottom: 300px;
    
  }
}
  @media (max-width: 600px) {
    .step:last-child {
      margin-bottom: 40px;
    }
  }
.step.is-active {
  color: rgba(50, 50, 50, 0.77);
  // border: 1px solid rgba(50, 50, 50, 0.77);
}
.step p {
  font-size: 16px;
  margin: 0;
  @media (max-width: 600px) {
    background-color: #eee;
    padding: 10px;
  }
}

#period-chart > div.quartet > .barchart > svg.barchart-chart.fatal > g.series > g:nth-child(3) > rect,
#period-chart > div.quartet > .barchart > svg.barchart-chart.fatal > g.series > g:nth-child(7) > rect,
#period-chart > div.quartet > .barchart > svg.barchart-chart.fatal > g.series > g:nth-child(11) > rect,
#period-chart > div.quartet > .barchart > svg.barchart-chart.fatal > g.series > g:nth-child(15) > rect,
#period-chart > div.quartet > .barchart > svg.barchart-chart.fatal > g.series > g:nth-child(19) > rect,
#period-chart > div.quartet > .barchart > svg.barchart-chart.fatal > g.series > g:nth-child(23) > rect,
#period-chart > div.quartet > .barchart > svg.barchart-chart.fatal > g.series > g:nth-child(27) > rect,
#period-chart > div.quartet > .barchart > svg.barchart-chart.fatal > g.series > g:nth-child(31) > rect,
#period-chart > div.quartet > .barchart > svg.barchart-chart.fatal > g.series > g:nth-child(35) > rect,
#period-chart > div.quartet > .barchart > svg.barchart-chart.fatal > g.series > g:nth-child(39) > rect,
#period-chart > div.quartet > .barchart > svg.barchart-chart.fatal > g.series > g:nth-child(43) > rect,
#period-chart > div.quartet > .barchart > svg.barchart-chart.fatal > g.series > g:nth-child(47) > rect {
  fill: rgb(139, 0, 0);
}

#period-chart > div.quartet > .barchart > svg.barchart-chart.serious > g.series > g:nth-child(3) > rect,
#period-chart > div.quartet > .barchart > svg.barchart-chart.serious > g.series > g:nth-child(7) > rect,
#period-chart > div.quartet > .barchart > svg.barchart-chart.serious > g.series > g:nth-child(11) > rect,
#period-chart > div.quartet > .barchart > svg.barchart-chart.serious > g.series > g:nth-child(15) > rect,
#period-chart > div.quartet > .barchart > svg.barchart-chart.serious > g.series > g:nth-child(19) > rect,
#period-chart > div.quartet > .barchart > svg.barchart-chart.serious > g.series > g:nth-child(23) > rect,
#period-chart > div.quartet > .barchart > svg.barchart-chart.serious > g.series > g:nth-child(27) > rect,
#period-chart > div.quartet > .barchart > svg.barchart-chart.serious > g.series > g:nth-child(31) > rect,
#period-chart > div.quartet > .barchart > svg.barchart-chart.serious > g.series > g:nth-child(35) > rect,
#period-chart > div.quartet > .barchart > svg.barchart-chart.serious > g.series > g:nth-child(39) > rect,
#period-chart > div.quartet > .barchart > svg.barchart-chart.serious > g.series > g:nth-child(43) > rect,
#period-chart > div.quartet > .barchart > svg.barchart-chart.serious > g.series > g:nth-child(47) > rect {
  fill: rgb(222, 63, 83);
}

#period-chart > div.quartet > .barchart > svg.barchart-chart.minor > g.series > g:nth-child(3) > rect,
#period-chart > div.quartet > .barchart > svg.barchart-chart.minor > g.series > g:nth-child(7) > rect,
#period-chart > div.quartet > .barchart > svg.barchart-chart.minor > g.series > g:nth-child(11) > rect,
#period-chart > div.quartet > .barchart > svg.barchart-chart.minor > g.series > g:nth-child(15) > rect,
#period-chart > div.quartet > .barchart > svg.barchart-chart.minor > g.series > g:nth-child(19) > rect,
#period-chart > div.quartet > .barchart > svg.barchart-chart.minor > g.series > g:nth-child(23) > rect,
#period-chart > div.quartet > .barchart > svg.barchart-chart.minor > g.series > g:nth-child(27) > rect,
#period-chart > div.quartet > .barchart > svg.barchart-chart.minor > g.series > g:nth-child(31) > rect,
#period-chart > div.quartet > .barchart > svg.barchart-chart.minor > g.series > g:nth-child(35) > rect,
#period-chart > div.quartet > .barchart > svg.barchart-chart.minor > g.series > g:nth-child(39) > rect,
#period-chart > div.quartet > .barchart > svg.barchart-chart.minor > g.series > g:nth-child(43) > rect,
#period-chart > div.quartet > .barchart > svg.barchart-chart.minor > g.series > g:nth-child(47) > rect {
  fill: rgb(255, 165, 0);
}

#period-chart > div.quartet > .barchart > svg.barchart-chart > g.series > g:nth-child(3) > rect,
#period-chart > div.quartet > .barchart > svg.barchart-chart > g.series > g:nth-child(7) > rect,
#period-chart > div.quartet > .barchart > svg.barchart-chart > g.series > g:nth-child(11) > rect,
#period-chart > div.quartet > .barchart > svg.barchart-chart > g.series > g:nth-child(15) > rect,
#period-chart > div.quartet > .barchart > svg.barchart-chart > g.series > g:nth-child(19) > rect,
#period-chart > div.quartet > .barchart > svg.barchart-chart > g.series > g:nth-child(23) > rect,
#period-chart > div.quartet > .barchart > svg.barchart-chart > g.series > g:nth-child(27) > rect,
#period-chart > div.quartet > .barchart > svg.barchart-chart > g.series > g:nth-child(31) > rect,
#period-chart > div.quartet > .barchart > svg.barchart-chart > g.series > g:nth-child(35) > rect,
#period-chart > div.quartet > .barchart > svg.barchart-chart > g.series > g:nth-child(39) > rect,
#period-chart > div.quartet > .barchart > svg.barchart-chart > g.series > g:nth-child(43) > rect,
#period-chart > div.quartet > .barchart > svg.barchart-chart > g.series > g:nth-child(47) > rect {
  fill: rgb(211, 211, 211);
}